<div class="wide-article-link">
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h4 class="article-title">
        <a href="{{root}}articles/sap-hana-global-template.html">
          SAP HANA S4 Global Implementation Template
        </a>
      </h4>
      <p class="article-elipsis">Our client maintains standardized processes through a global template design. The result was reduced deployment costs and consistent adoption across the corporation. <a href="{{root}}articles/sap-hana-global-template.html" class="read-more">Read the Client Case Study</a></p>
<!--      <div class="article-social">
        <a href="{{root}}articles/sap-hana-global-template.html#disqus_thread" class="button social comments">
          <i class="fab fa-comments-o" aria-hidden="true"></i> 0
        </a>
        <a href="#" class="button social facebook">
          <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#" class="button social twitter">
          <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#" class="button social linkedin">
          <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#" class="button social google-plus">
          <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
        </a>
      </div>-->
    </div>
    <div class="small-12 medium-3 columns flex-container align-middle">
      <img src="{{root}}assets/img/articles/sap-hana-global-template-300x300-01.jpg" alt="Global Business" />
    </div>
  </div>
</div>