<div class="wide-article-link">
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h4 class="article-title">
        <a href="{{root}}articles/sap-central-finance.html">
            SAP HANA Central Finance Streamlines Companies for Growth and Acquisitions
        </a>
      </h4>
      <p class="article-elipsis">Learn how Ketch used SAP Central Finance to break the bonds of ECC customizations.  We bridged SAP ECC logistics system with an SAP HANA S4 financials systems. <a href="{{root}}articles/sap-central-finance.html" class="read-more">Read the Client Case Study</a></p>
<!--      <div class="article-social">
        <a href="{{root}}articles/sap-central-finance.html#disqus_thread" class="button social comments">
          <i class="fab fa-comments-o" aria-hidden="true"></i> 0
        </a>
        <a href="#" class="button social facebook">
          <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#" class="button social twitter">
          <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#" class="button social linkedin">
          <i class="fab fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#" class="button social google-plus">
          <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
        </a>
      </div>-->
    </div>
    <div class="small-12 medium-3 columns flex-container align-middle">
      <img src="{{root}}assets/img/articles/CFIN-stage-hero-300x300.jpg" alt="Central Finance" />
    </div>
  </div>
</div>