  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Discrete Manufacturing</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Over 35 different discrete manufacturing operations</p>
    <dl>
    	<dt>SAP MII (Manufacturing Integration and Intelligence)</dt>
      <dt>SAP ME (Manufacturing Execution)</dt>
      <dt>IOT (Internet of Thing)</dt>
      <dt>SAP S/4HANA manufacturing</dt>
      <ul>
           <li>Make to order, Engineering to Order</li>
    	     <li>Make to stock</li>
    	     <li>Configure to order</li>
      </ul>
      <dt>SAP Digital Manufacturing Insights (SAP Cloud)</dt>
      </dl>

  </div>