  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Process Manufacturing</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Oil and Gas, Chemical Products, and Pharmaceutials</p>
        <ul>

    	<li>Plant Turnarounds and Complex Project Management</li>
    	<li>FDA Compliance and Validation (Pharma CFR 121 Part 11)</li>
    	<li>Environmental Health and Safety</li>
    	<li>Quality Management</li>
    	<li>Volume and Yield Inventory Management</li>
    	<li>Production Planning</li>
    	<li>Transportation Management</li>

  </div>