  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Supply Chain</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Complete end-to-end supply chain process leveraging SAP next generation technology and third party integrations</p>
    <ul>
      <li>Integrated Business Planning Across the Entire Network</li>
      <li>SAP Advanced Planning Optimization and Sales Forecasting</li>
      <li>Transportation Optimization</li>
      <li>Real Time Integration with Materials Planning and Production</li>
      <li>SAP Ariba</li>
      <li>Supplier Collaboration and Integration</li>
      <li>Global Track and Trace</li>
    </ul>

  </div>