<div class="grid-container section-container">
	<div class="orbit clean-hero-slider" role="region" aria-label="Ketch Partners" data-orbit>
  		<div class="orbit-wrapper">

    		<ul class="orbit-container">

      			<li class="orbit-slide">
			        <figure class="orbit-figure">
			          <img class="orbit-image" src="{{root}}assets/img/main-page-background.jpg" alt="Tech Background">
			          <figcaption class="orbit-caption">
			            <h1>Industries</h1>

			          </figcaption>
			        </figure>
      			</li>

    		</ul>
  		</div>

	</div>
</div>