  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Public Sector</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Specializing in North American federal, state, municipal and NGO organizations</p>
    <ul>
    	<li>Funds (Bonds) and Grant Management</li>
    	<li>Asset Management and Modified Accrual and Business Accounting.</li>
    	<li>Procurement RFP and Award Management</li>
    	<li>Public Utilities (Electric, Water, Waste)</li>
    	<li>FERC and Other Compliance Reporting</li>
    	<li>Linear Asset and Plant Management</li>
    	<li>Utility Customer Service and Billing</li>
    	<li>Utility and Power Plan Integration</li>
    </ul>

  </div>