  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Professional Services</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Leveraging SAP S/4HANA professional services offerings</p>
        <ul>
      <li>Staffing and Qualification Management</li>
      <li>Simplified Capacity and Workforce Planning and Management</li>
      <li>Service Order and Mobile Dispatch Applications</li>
      <li>Mobile Time Management and Billing Integration</li>
      <li>Resource Usage Rate and Billing Management</li>
      <li>Project and Service Management</li>
      <li>Subcontracting Management</li>
    </ul>

  </div>