  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Hi-Tech</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Hi-Tech advanced business models driving a platform for growth</p>
    <ul>
      <li>Project and Portfolio Management</li>
      <li>Product Development and Lifecycle Management</li>
      <li>Manufacturing Optimization</li>
      <li>Real Time Integration with Materials Planning and Production</li>
      <li>Sales, Inventory and Operations Planning</li>
      <li>Omnichannel Customer Support</li>
      <li>Field Service Management</li>
      <li>GService Process and Operations</li>
      <li>Solutions and Services Business</li>
    </ul>
    <a href="{{root}}contact.html" class="round button small">learn more</a>
  </div>