  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Retail</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Experience with leading SAP Retail clients in North America</p>
    <ul>
    	<li>SAP Retail Industry Solution</li>
    	<li>Merchandise Planning</li>
    	<li>Omnichannel Customer Experience</li>
    	<li>SAP Hybris and CRM</li>
    	<li>Big Data Analytics</li>
    	<li>Forecasting, Allocation and Replenishment</li>
    	<li>Seamless Open Source Progressive Apps Integration</li>
    </ul>

  </div>