<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="advisory-03">
      <h3>Advisory Services</h3>
      <p><i class="fas fa-book"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Advisory Services</h3>
      <p class="flip-card-inner-back-text">Ketch SAP solution and system analysis and quality reviews:</p>
      <ul class="no-bullet">
        <li>SAP Landscape Standards and Optimization</li>
        <li>Security and Legal Compliance</li>
        <li>Identify Unnecessary Customizations, Not Every Solution Requires Technology</li>
        <li>Change Management</li>
        <li>Application Performance Optimization</li>
      </ul>

    </div>
  </div>
</div>
