<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>SAP Security Services</h3>
      <p><i class="fas fa-lock"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Security Services</h3>
      <p class="flip-card-inner-back-text">Today the world of IT security is ever evolving and complex to maintain compliance.  Most companies have numerous systems, technologies, internal and external customer facing applications that strain even the most experienced IT departments.  Ketch infrastructure and security consultants help you stay up to date and reduce risk.</p>

    </div>
  </div>
</div>
