<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>Technology Consulting Services</h3>
      <p><i class="fas fa-user-tie"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">Technology Consulting Services</h3>
      <p class="flip-card-inner-back-text">Ketch Partners - extensive industry experience, decades of sucessful SAP system implementations and business process optimization.</p>
      <p class="flip-card-inner-back-text">Large network of leading SAP practitioners, specialized in industry processes, delivering the perfect solution fit.</p>
      
    </div>
  </div>
</div>
