<div class="marketing-site-features">
  <div class="marketing-site-features-header-block" id="services-projects-block">
    <h2 class="marketing-site-features-headline" id="services-projects-header">SAP Implementation Services</h2>
    <div class="row marketing-site-body">
      <div class="small-12 medium-6 large-6 columns">
{{> services-project-level2-01}}
      </div>
      <div class="small-12 medium-6 large-6 columns">
{{> services-project-level2-02}}    
      </div>
      <div class="small-12 medium-6 large-6 columns">
{{> services-project-level2-03}}       
      </div>
      <div class="small-12 medium-6 large-6 columns">
 {{> services-project-level2-04}}      
      </div>
      <div class="small-12 medium-6 large-6 columns">
 {{> services-project-level2-05}}      
      </div>
      <div class="small-12 medium-6 large-6 columns">
 {{> services-project-level2-06}}      
      </div>
    </div>
   </div>
</div>
