<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>Innovation and Technology Consultants</h3>
      <p><i class="fas fa-comment-alt"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">Innovation and Technology</h3>
      <p class="flip-card-inner-back-text">Ketch finds the fastest and most efficient way to achieve your objectives.  Our consultants collaborate with you to evaluate the potential options, ideal solutions, and help leveraging the latest technology trends.</p>

      
    </div>
  </div>
</div>