<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>SAP Continuous Integration and Deployment</h3>
      <p><i class="fab fa-git-square"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Devops</h3>
      <p class="flip-card-inner-back-text">Ketch leverages modern development processes, enabling faster deployments with reduced risk.</p>
      <ul class="no-bullet">
        <li>Git Decentralized Version Control</li>
        <li>SAP Centralized Version Control</li>
        <li>Build and Deploy Automation (Jenkins, Gerrit, and Other Open Source Tools</li>
        <li>Auto Code Testing and Code Reviews</li>
        <li>Dependency Library Management (NPM, Yarn, Maven)</li>
      </ul>  
      
    </div>
  </div>
</div>