<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>SAP Development Services</h3>
      <p><i class="fab fa-node-js"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Development Services</h3>
      <p class="flip-card-inner-back-text">Ketch developer network for SAP and non-SAP business applications using next generation open source technology.</p>
      <ul class="no-bullet">
        <li>SAP Cloud Platform</li>
        <li>SAP JAVA Applications</li>
        <li>SAP Javascript and UI5</li>
        <li>SAP HANA, CDS, noSQL, SQL</li>
        <li>SAP Fiori</li>
        <li>SAP ABAP and Open Source</li>
      </ul>  
      
    </div>
  </div>
</div>