<div class="marketing-site-features">
  <div class="marketing-site-features-header-block">
    <h2 class="marketing-site-features-headline" id="services-support">SAP Application Support</h2>
    <div class="row marketing-site-body">
      <div class="small-12 medium-6 large-6 columns">
{{> services-support-level2-01}}
      </div>
      <div class="small-12 medium-6 large-6 columns">
{{> services-support-level2-02}}    
      </div>
      <div class="small-12 medium-6 large-6 columns">
{{> services-support-level2-03}}       
      </div>
      <div class="small-12 medium-6 large-6 columns">
 {{> services-support-level2-04}}      
      </div>

    </div>
   </div>
</div>
