<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="advisory-05">
      <h3>IT Roadmap Development</h3>
      <p><i class="fas fa-map-marker-alt"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">It Roadmap Development</h3>
      <p class="flip-card-inner-back-text">You can rely on our business experts and IT consultants to help you develop a roadmap and digital transformation strategy aligned to your needs.  Ketch reviews your business model in-depth to provide detailed advice for your IT infrastructure planning and operations.</p>

      
    </div>
  </div>
</div>