<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="advisory-04">
      <h3>SAP HANA Digital Transformation</h3>
      <p><i class="fas fa-table"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP HANA Digital Transformation</h3>
      <p class="flip-card-inner-back-text">Leverage SAP next generation products with clear roadmap and transition plan:</p>
      <ul class="no-bullet">
        <li>Master Data Transition from Legacy Systems.</li>
        <li>HANA Data Services.</li>
        <li>SAP Cloud Foundry.</li>
        <li>Open Source Technology.</li>
        <li>Vendor Agnostic Solutions.</li>
      </ul>  
      
    </div>
  </div>
</div>