<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>SAP Data Volume Management</h3>
      <p><i class="fas fa-table"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Data Management Suite</h3>
      <p class="flip-card-inner-back-text">Business growth and the intense needs for data analytics drives the need to manage complex volumes of data.  Ketch leverages SAP's HANA Data Management suite platform to optimize you data availability across your landscape.</p>

    </div>
  </div>
</div>