<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="project-05">
       <h3>SAP Global Templates</h3>
      <p><i class="fas fa-globe"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Global Templates</h3>
      <p class="flip-card-inner-back-text">Ketch implementation methodology focuses on re-use concept for faster rollouts and corporate consistency.</p>
      <ul class="no-bullet">
        <li>SAP Country Templates and Local Legal Requirements (IFRS and GAAP)</li>
        <li>Industry Accounting and Manufacturing Standards</li>
        <li>Development of Corporate Template Backbone</li>
        <li>Corporate Templates to Ensure Financial Consolidations</li>
      </ul>  
      
      
    </div>
  </div>
</div>