<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
       <h3>SAP HANA and Central Finance</h3>
      <p><i class="fas fa-money-check-alt"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Central Finance</h3>
      <p class="flip-card-inner-back-text">SAP product that enables companies to decentralize ledgers across SAP systems (ECC and/or HANA S4).</p>
      <p class="flip-card-inner-back-text align-justify">Ketch is a leader in SAP Central Finance implementations.  Ketch has developed a unique approach to combining SAP HANA S4, SAP ECC with SAP Central Finance.  Using a greenfield approach to enable quick implementation of new business models on the latest SAP technology, along side exisitng SAP systems.  Proven strategy to apply innovation quickly, without risk to existing system processes.</p>
      
    </div>
  </div>
</div>