<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="project-03">
      <h3>Solution Manager Implementation and Operations Support</h3>
      <p><i class="fas fa-project-diagram"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Solution Manager</h3>
      <p class="flip-card-inner-back-text">Leverage for implementation and support of your SAP HANA projects and operations.</p>
      <p class="flip-card-inner-back-text align-justify">Solution Manager has evolved to fully support your entire SAP landscape, implementation, development management, test management, best practice alignment, process management, and operations.  Version 7.2 is critical to a successful SAP HANA implementation, lowering costs and ensuring alignment to SAP implementation procedures and standards.</p>
      
    </div>
  </div>
</div>
