<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="project-01">
      <h3>SAP HANA Systems Integration</h3>
      <p><i class="fas fa-database"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP HANA Services</h3>
      <p class="flip-card-inner-back-text">25 years of experience providing SAP consulting services.  Full service project implementation services.</p>
      <ul class="no-bullet">
        <li>SAP HANA S4 (S/4HANA)</li>
        <li>SAP ECC to S4 Upgrades</li>
        <li>SAP Cloud Platform</li>
        <li>SAP HANA Industry Solutions</li>
        <li>SAP Fiori</li>
        <li>SAP Business Intelligence</li>
      </ul>  
      
    </div>
  </div>
</div>

