<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
       <h3>SAP Application Management Services</h3>
      <p><i class="fas fa-cloud"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">Application Management Services</h3>
      <p class="flip-card-inner-back-text">Ketch provide on-premise or cloud based application management services:.</p>
      <ul class="no-bullet">
        <li>SAP S4 and Cloud Platform</li>
        <li>SAP HANA Datawarehouses</li>
        <li>API Management</li>
        <li>AWS and Google Cloud Platform</li>
      </ul>  
      
      
    </div>
  </div>
</div>