<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
      <h3>Carve Outs, Mergers and Acquistions</h3>
      <p><i class="fas fa-building"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">Carve Outs, Mergers and Acquistions</h3>
      <p class="flip-card-inner-back-text">Major organizational changes can be huge challenge for IT.  Ketch global M&ampA experience:</p>
      <ul class="no-bullet">
        <li>Receiving end or the divesting side.</li>
        <li>Transition services agreements.</li>
        <li>Business continuity.</li>
        <li>Transitional solutions using SAP Central Finance.</li>
      </ul>  
      
    </div>
  </div>
</div>
