<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center">
       <h3>Stabilization and Hypercare</h3>
      <p><i class="fas fa-h-square"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Environment</h3>
      <p class="flip-card-inner-back-text">A specialist support team is always on standby to respond to your questions and problems.</p>
      <ul class="no-bullet">
        <li>Go live readiness.</li>
        <li>Problem support team</li>
        <li>Functional center of excellence</li>
        <li>Remote or onsite</li>
      </ul>  
      
      
    </div>
  </div>
</div>