<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="project-02">
      <h3>Ketch Partners Building Blocks and Tools</h3>
      <p><i class="fas fa-wrench"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">Methods and Tools</h3>
      <p class="flip-card-inner-back-text">Leverage SAP and Ketch's best practice business process toolsets.</p>
      <ul class="no-bullet">
        <li>Ketch FISTO Methdology</li>
        <li>SAP Industry Solution Best Practices</li>
        <li>SAP Standard Delivered Fiori Apps</li>
        <li>SAP Best Practices</li>
        <li>Ketch Implementation Guides</li>
        <li>Open Source Implementation Automation Tools</li>
      </ul>  
      
    </div>
  </div>
</div>

