<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front text-center" id="project-06">
       <h3>SAP Solution Scope</h3>
      <p><i class="fas fa-industry"></i></p>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">SAP Solution Scope</h3>
      <ul class="no-bullet">
        <li>SAP HANA, S4, ECC, CRM, BI - Business Intelligence, BPC - Business Planning and Consolidations, EPPM - Enterprise Portfolio and Project Management, IBP - Integrated Business Planning</li>
        <li>SAP Industry Solutions</li>
 
      </ul>  
      
      
    </div>
  </div>
</div>