.grid-container.section-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

grid-container.services-page {
  margin-top: 1rem;
}

nav.top-bar-full {
  margin-bottom: 1rem;
}

#about-description-text {

  background: $white;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  @include breakpoint(medium) {
     padding: 2rem 3rem 2rem 3rem;
  }
}

#services-header {

  background: $white;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  @include breakpoint(medium) {
    padding: 2rem 3rem 2rem 3rem;
  }
}

#services-header-block {

  margin: 0;
  background: $white;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);

}

#services-header-headline {
  background-color: $primary-color;
}

#services-nav {
  padding: 3rem 0 3rem 0;
}

#services-projects-header, #services-advisory-header, #services-development-header, #services-support-header {
  background-color: $primary-color;
  padding-bottom: 1rem;
  @include box-shadow(5px, 5px, 5px, $light-gray);
}

#services-projects-block, #services-advisory-block, #services-development-block, #services-support-block {
  background-color: $white;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  border: 1px solid $medium-gray;
}

#latest-news {
  background: $primary-color;
  color: $white;
  border-radius: $global-radius;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 0;
  @include box-shadow(5px, 5px, 5px, $light-gray);
}



#industries-1, #industries-2, #industries-3, industries-4, #industries-5, #industries-6, #industries-7, industries-8  {
  background: $primary-color;
  color: #white;
}

.industry-card {
  background-color: $white;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  border: 1px solid $medium-gray;

}

.industry-card h2 {
  font-size: 1.3rem;
  font-style: bold;
}

.primary-header {
  background-color: $primary-color;
  color: $white;
  align-items: center;
  justify-content: center;
}


.blockquote-container {
  border-radius: $global-radius;
  border: 1px solid $medium-gray;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  margin-bottom: 1.5rem;
}

.no-border {
  border: none;
}

#ketch-video-block {

  background: $primary-color;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  border-radius: $global-radius;
  margin-bottom: 2rem;
}

#ketch-video-text {
  background: transparent;
  color: $white;
  img {
     display:block;
     margin: auto auto;
  }
  h5 {
     font-size: 1.5rem;
  }
  p {
     font-size: 1.5rem;
     color: $secondary-color;
  }
  @include breakpoint(medium) {
    margin: 2rem 1rem 2rem 1rem;
     padding: 3rem;
  }

}

#ketch-video {
  @include breakpoint(medium) {
  padding: 3rem;
  }
}

#subscribe-text {
  line-height: 1;
}

.tags {
  justify-content: center;
}
  

.inline-icon {
  margin-right: 1rem;
}



#press-release-wrapper {
  background-color: $medium-gray;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  padding: 1rem;
  margin-bottom: 1rem;
  #press-release-header {

  color: $primary-color;
  font-size: 1.5rem;
}

  #press-release-container {
  border: none;

}
}

#press-release-list {
  li {
    margin-bottom: 1rem;
  }
}


#newsletter-wrapper {
  background-color: $primary-color;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  padding: 1rem;

  #newsletter-header {

  color: $white;
  font-size: 1.5rem;
}

  #newsletter-container {
  border: none;
  background-color: $medium-gray;
}
}

#guide-download-wrapper {
  background-color: $light-gray;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  padding: 1rem;

  #guide-download-header {

  color: $primary-color;
  font-size: 1.5rem;
}
  img {
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }

  #guide-download-container {
  border: none;
  background-color: transparent;
}
}
