.grid-container.section-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

grid-container.services-page {
  margin-top: 1rem;
}

nav.top-bar-full {
  margin-bottom: 1rem;
}

#services-header {

  padding: 2rem 3rem 2rem 3rem;
  background: $white;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);
}

#services-header-block {

  margin: 0;
  background: $white;
  border-radius: $global-radius;
  @include box-shadow(5px, 5px, 5px, $light-gray);

}

#services-header-headline {
  background-color: $primary-color;
}

#services-nav {
  padding: 3rem 0 3rem 0;
}

#services-projects-header, #services-advisory-header, #services-development-header, #services-support-header {
  background-color: $primary-color;
  padding-bottom: 1rem;
}

#services-projects-block, #services-advisory-block, #services-development-block, #services-support-block {
  background-color: $white;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  border: 1px solid $medium-gray;
}

#latest-news {
  background: $primary-color;
  color: $white;
  border-radius: $global-radius;
  margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 0;
  @include box-shadow(5px, 5px, 5px, $light-gray);
}

#about-description-block {
  background: $primary-color;
}

#about-description-text {
  background: transparent;
  color: $white;
  border-radius: $global-radius;
  margin: 1rem 2rem 1.5rem 2rem;
}

#about-description-headline {
  background: $secondary-color;
  color: $primary-color;
  padding-bottom: 1rem;
}

#about-clients-headline {
  background-color: $secondary-color;
  color: $primary-color;
}

#about-clients-block {
  background-color: $white;
  border: 1px solid $medium-gray;
}

#about-partners-headline {
  background-color: $secondary-color;
  color: $primary-color;
}

#about-partners-block {
  background-color: $white;
  border: 1px solid $medium-gray;
}

#about-team-headline {
  background-color: $secondary-color;
  color: $primary-color;
}

#about-team-block {
  background-color: $primary-color;
  border: 1px solid $medium-gray;
}

#industries-1, #industries-2, #industries-3, industries-4, #industries-5, #industries-6, #industries-7, industries-8  {
  background: scale-color($secondary-color, $lightness: 80%);
}

.industry-card {
  background-color: $white;
  @include box-shadow(5px, 5px, 5px, $light-gray);
  border: 1px solid $medium-gray;

}

.industry-card h2 {
  font-size: 1.3rem;
  font-style: bold;
}

.primary-header {
  background-color: $primary-color;
  color: $white;
  align-items: center;
  justify-content: center;
}


