.embed-video-section {
	background-color: $secondary-color;
}

.transparent-background {
	background-color: transparent;


	h2 {
	background-color: $primary-color;
	color: $white;

	ul {
	background-color: $white;
}
}
}


