.callout.info-pannel {
    background-color: $light-gray;
    margin: 0px;
    padding: 0px;

h2 {
    background-color: $secondary-color;
    padding: 5px;


}

h3 {
	padding-left: 15px;
	paddine-right: 10px;
}

p {
	padding-left: 15px;
	padding-right: 10px;
}

}

