.callout.info-pannel {
    background-color: $light-gray;
    margin: 10px;
    padding: 0px;

h2 {
    background-color: $secondary-color;
    padding: 0px;


}

h3 {
	padding-left: 15px;
	paddine-right: 10px;
}

p {
	padding-left: 15px;
	padding-right: 10px;
}

}


.ketch-team {
  width: 100%;
    align-items: center;
}

.ketch-team-responsive {
  margin-top: 10px;
  align-items: center;
}

.ketch-clients {
	background-color: transparent;
	margin: 10px 10px 10px 10px;
}

.ketch-clients-section img {
	display:block;
	margin-left: auto;
	margin-right:auto;
}
