$hero-height: 60vh;

.hero-section {
  background: url('../img/project-plan-glasses-aboutus.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: top;
  justify-content: center;

  .hero-section-text {
    color: $primary-color;

  }
}

.ketch-team {
  width: 100%;
    align-items: center;
}

.ketch-team-responsive {
  margin-top: 20px;
  align-items: center;
}
