$hero-height: 60vh;

.hero-section {
  background: url('../img/sailing-team-about.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  .hero-section-text {
    color: $primary-color;

  }
}


.hero-section2 {
  background: url('https://via.placeholder.com/1366X200') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  .hero-section-text {
    color: $primary-color;
  }
}


.hero-section3 {
  background-color: $primary-color;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  .hero-section-text {
    color: $white;
  }
}