#advisory-01 {
	background: url('../img/services/advisory-01.jpg') 100% no-repeat;
}

#advisory-02 {
	background: url('../img/services/advisory-02.jpg') 100% no-repeat;
}

#advisory-03 {
	background: url('../img/services/advisory-03.jpg') 100% no-repeat;
}

#advisory-04 {
	background: url('../img/services/advisory-04.jpg') 100% no-repeat;
}

#advisory-05 {
	background: url('../img/services/advisory-05.jpg') 100% no-repeat;
}

#advisory-06 {
	background: url('../img/services/advisory-06.jpg') 100% no-repeat;
}

#project-01 {
	background: url('../img/services/project-01.jpg') 100% no-repeat;
}

#project-02 {
	background: url('../img/services/project-02.jpg') 100% no-repeat;
}

#project-03 {
	background: url('../img/services/project-03.jpg') 100% no-repeat;
}

#project-04 {
	background: url('../img/services/project-04.jpg') 100% no-repeat;
}

#project-05 {
	background: url('../img/services/project-05.jpg') 100% no-repeat;
}

#project-06 {
	background: url('../img/services/project-06.jpg') 100% no-repeat;
}

#development-01 {
	background: url('../img/services/development-01.jpg') 100% no-repeat;
}

#development-02 {
	background: url('../img/services/development-02.jpg') 100% no-repeat;
}

#support-01 {
	background: url('../img/services/support-01.jpg') 100% no-repeat;
}

#support-02 {
	background: url('../img/services/support-02.jpg') 100% no-repeat;
}

#support-03 {
	background: url('../img/services/support-03.jpg') 100% no-repeat;
}

#support-04 {
	background: url('../img/services/support-04.jpg') 100% no-repeat;
}