<div class="marketing-site-features" >
  <div class="marketing-site-features-header-block" id="about-clients-block">
    <h2 class="marketing-site-features-headline" id="about-clients-headline">Clients</h2>
    <div class="row marketing-site-body">
       <div class="callout" id="about-description-text">

			<section class="ketch-clients-section">
				<div class="about-page">
					<div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small medium large" id="about-equalizer2">
						<div class="cell small-6 medium-3 large-3">
						    <div class="callout" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Clients-BestBuy.jpg" alt="Client Best Buy" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						     <div class="callout" data-equalizer-watch="about-equalizer2">
						     	<img src="{{root}}assets/img/ketchimages/Clients-Fedex.jpg" alt="Client FedEx" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						    <div class="callout" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Clients-Harley.jpg" alt="Client Harley Davidson" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						    <div class="callout" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Clients-Lexmark.jpg" alt="Client Lexmark" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						    <div class="callout" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Clients-Luxottica.jpg" alt="Client Luxottica" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						    <div class="callout" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Clients-MG-BW.jpg" alt="Client Mitchell Gold - Bob WIlliams" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						    <div class="callout" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Clients-pentair.jpg" alt="Client Pentair" />
						    </div>
						</div>
						<div class="cell small-6 medium-3 large-3">
						     <div class="callout" data-equalizer-watch="about-equalizer2">
						     	<img src="{{root}}assets/img/ketchimages/Clients-tyco.jpg" alt="Client Tyco" />
						    </div>
						</div>

					</div>
			    </div>
			</section>

       </div>  
      </div>

    </div>
   </div>
