<div class="marketing-site-features" >
  <div class="marketing-site-features-header-block" id="about-description-block">
    <h2 class="marketing-site-features-headline" id="about-description-headline">Who is Ketch Partners</h2>
    <div class="row marketing-site-body">
       <div class="callout" id="about-description-text">

{{#markdown}}
<h3 class="text-center">Company Mission</h3>
Ketch will always be the trusted partner for our clients helping them achieve superior business performance through the strategy, design, and delivery of integrated SAP solutions. We will continually maintain and improve the market leading methods, tools, and processes.  We will hire great people and hold ourselves to the highest ethical and performance standards in every aspect of our personal and professional lives.  We will deliver superior solutions and create strong and lasting client relationships by bring more value to every interaction.

<h3 class="text-center">Core Values and Integrity and Character</h3>
Being skillful, truthful and accountable.  We demonstrate professional, ethical, and transparent behavior in all activities and decisions. We courageously model behaviors that are authentic and congruent with these values, even in the face of difficult challenges.  We hold ourselves to high standard of service, ethics, and behavior and are confident that our efforts will prevail in our relationships and results in our work.  We will set and achieve goals and hold each other accountable to live up to our promises.

<h3 class="text-center">Core Value - Diversity and Team Work</h3>
We recognize and value differences and seek inclusiveness. We are inviting and accepting of different viewpoints. We leverage the rich background and abilities of others.  We care about the success of our fellow team members as much as we care about our own success.  We believe there is always room for improvement and push for it.  We value curiosity and risks – we negotiate obstacles fast and adapt as we create a collaborative culture.
{{/markdown}}

       </div>  
      </div>

    </div>
   </div>
