<div class="marketing-site-features" >
  <div class="marketing-site-features-header-block" id="about-partners-block">
    <h2 class="marketing-site-features-headline" id="about-partners-headline">Partners</h2>
    <div class="row marketing-site-body">
       <div class="callout" id="about-description-text">
			<section class="ketch-clients-section">

			    <div class="about-page">
					<div class="grid-x grid-margin-x" data-equalizer data-equalize-on="small medium large" id="about-equalizer2">
						<div class="cell small-6 medium-4 large-4">
						    <div class="callout no-border" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Partner-Sap.png" alt="SAP Services Partner" />
						    </div>
						</div>
						<div class="cell small-6 medium-4 large-4">
						     <div class="callout no-border" data-equalizer-watch="about-equalizer2">
						     	<img src="{{root}}assets/img/ketchimages/Partner-HP.png" alt="Hewlett-Packard Enterprise Partner" />
						    </div>
						</div>
						<div class="cell small-6 medium-4 large-4">
						    <div class="callout no-border" data-equalizer-watch="about-equalizer2">
						    	<img src="{{root}}assets/img/ketchimages/Partner-MCG.png" alt="Midtown Consulting Partner" />
						    </div>
						</div>


					</div>
				</div>
			</section>

       </div>  
      </div>

    </div>
   </div>
