			  <div class="row add-people-section">
			    <div class="small-11 columns about-people">
			      <div class="about-people-avatar">
			        <img class="avatar-image" src="{{root}}assets/img/ketchimages/team-josearnulfo.jpg" alt="Jose Arnulfo">
			      </div>
			      <div class="about-people-author">
			        <p class="author-name">
			          Jos&#xE9 Arnulfo
			        </p>
			        <p class="author-location">
			          Managing Director & Principal, Ketch de M&#xE9xico
			        </p>
			        <p class="author-mutual">
			          José Arnulfo pioneered business system software development in M&#xE9xico. He brings decades of experience implementing GRP (Government Resource Planning for public sector entities in M&#xE9xico) José is trusted across the country of M&#xE9xico in business and government as an organizational architect with techno-functional expertise. His practical solutions to complex organizations have gained him followers throughout México and South America.
			        </p>
			      </div>    
			    </div>
			    <div class="small-1 columns add-friend">
			
		
			          <span><a href="https://www.linkedin.com/pub/jose-sandoval/16/5a5/8b5" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></span>
		
			    </div>
			  </div>