<div class="marketing-site-features" >
  <div class="marketing-site-features-header-block" id="about-team-block">
    <h2 class="marketing-site-features-headline" id="about-team-headline">Meet the Team</h2>
    <div class="row marketing-site-body">
       
          <section>
			<div class="people-you-might-know">

{{> about-team-york}}

{{> about-team-day}}

{{> about-team-mcmurray}}

{{> about-team-bennett}}

{{> about-team-arnulfo}}

{{> about-team-reguera}}

           </div>  

          </section>

      </div>

    </div>
   </div>