
			  <div class="row add-people-section">
			    <div class="small-11 columns about-people">
			      <div class="about-people-avatar">
			        <img class="avatar-image" src="{{root}}assets/img/ketchimages/team-nellyreguera.jpg" alt="Nelly Reguera">
			      </div>
			      <div class="about-people-author">
			        <p class="author-name">
			          Nelly Reguera
			        </p>
			        <p class="author-location">
			          Sr. SAP Project Manager & WM Consultant
			        </p>
			        <p class="author-mutual">
			          Nelly has over 20 years experience in numerous operations positions in Mexico, France, and the United States. She has nearly 10 years experience in leading SAP teams and has extensive functional experience in SAP’s Warehouse Management (WM) module.
			        </p>
			      </div>    
			    </div>
			    <div class="small-1 columns add-friend">
			
		
			          <span><a href="https://www.linkedin.com/pub/nelly-reguera/a/27b/92a" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></span>
		
			    </div>
			  </div>