
			  <div class="row add-people-section">
			    <div class="medium-11 columns about-people">
			      <div class="about-people-avatar">
			        <img class="avatar-image" src="{{root}}assets/img/ketchimages/team-maribelperkins.jpg" alt="Maribel Perkins">
			      </div>
			      <div class="about-people-author">
			        <p class="author-name">
			          Maribel Perkins
			        </p>
			        <p class="author-location">
			          Director Business Development & Principal, Ketch de M&#xE9xico
			        </p>
			        <p class="author-mutual">
			         Maribel is a Co-founder and Director of Business Development for Ketch de M&#xE9xico. She is responsible for leading sales growth of Ketch in M&#xE9xico. Her focus is maximizing our client’s business subsidiary (company codes) business in Latin America.
			        </p>
			      </div>    
			    </div>
			    <div class="medium-1 columns add-friend hide-for-small-only">
			
		
			          <span><a href="https://www.linkedin.com/pub/maribel-perkins/2/361/8a1" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></span>
		
			    </div>
			  </div>