
<div class="grid-container grid-margin-x section-container">
	<div class="orbit clean-hero-slider" role="region" aria-label="Ketch Partners" data-orbit>
  		<div class="orbit-wrapper">

    		<ul class="orbit-container">

      			<li class="orbit-slide">
			        <figure class="orbit-figure">
			          <img class="orbit-image" src="{{root}}assets/img/about-us-hero-850x300.jpg" alt="Ketch Partners About Us">
			          <figcaption class="orbit-caption">
			            <h1>About Us</h1>
			            <div class="stacked-for-small button-group expanded">
				            <a href="#about-description-headline" class="button">What We Do</a>
				            <a href="#about-team-headline" class="button">Team</a>
				            <a href="#about-clients-headline" class="button">Clients</a>
				            <a href="$about-partner-headline" class="button">Partners</a>
			            </div>
			          </figcaption>
			        </figure>
      			</li>

    		</ul>
  		</div>

	</div>
</div>