
			  <div class="row add-people-section">
			    <div class="medium-11 columns about-people">
			      <div class="about-people-avatar">
			        <img class="avatar-image" src="{{root}}assets/img/ketchimages/team-gerixin.jpg" alt="Ge Rixin">
			      </div>
			      <div class="about-people-author">
			        <p class="author-name">
			          Ge Rixin
			        </p>
			        <p class="author-location">
			          Board Member, Mathematician, Business Solution Architect, Designer, Partner
			        </p>
			        <p class="author-mutual">
			          Ge Rixin is an avid tennis player and great father. When he is not focusing on parenting, he is an extraordinary architect and designer of solutions in software code. Simplifying the complex to make software user interfaces useful to business organizations.
			        </p>
			      </div>    
			    </div>
			    <div class="medium-1 columns add-friend hide-for-small-only">
			
		
			         
		
			    </div>
			  </div>