
			  <div class="row add-people-section">
			    <div class="medium-11 columns about-people">
			      <div class="about-people-avatar">
			        <img class="avatar-image" src="{{root}}assets/img/ketchimages/team-davidrice.jpg" alt="David Rice">
			      </div>
			      <div class="about-people-author">
			        <p class="author-name">
			          David Rice
			        </p>
			        <p class="author-location">
			          SAP Solution Architect & Project Manager
			        </p>
			        <p class="author-mutual">
			         David Rice defines SAP solutions architecture for Ketch. We are proud of his ability to resurrect and redesign businesses bringing about true transformation. He has over 25 years of Information Technology experience across numerous industries. David is true platinum level.
			        </p>
			      </div>    
			    </div>
			    <div class="mediuml-1 columns add-friend hide-for-small-only">
			
		
			          <span><a href="https://www.linkedin.com/pub/david-rice/0/903/747" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></span>
		
			    </div>
			  </div>