
			  <div class="row add-people-section">
			    <div class="small-11 columns about-people">
			      <div class="about-people-avatar">
			        <img class="avatar-image" src="{{root}}assets/img/ketchimages/team-chrisyork.jpg" alt="Chris York">
			      </div>
			      <div class="about-people-author">
			        <p class="author-name">
			          Chris York
			        </p>
			        <p class="author-location">
			          CEO and Founder
			        </p>
			        <p class="author-mutual">
			          Chris has over 24 years in enterprise system implementations and practice management including leading North American delivery for SAP Retail. His track record, leadership style, and communication ability brings our clients a superior level of confidence and trust.
			        </p>
			      </div>    
			    </div>
			    <div class="small-1 columns add-friend">
			
		
			          <span><a href="https://www.linkedin.com/in/christopherryork" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></span>
		
			    </div>
			  </div>