  <div class="reveal" id="contact-form" data-reveal>
      <form class="callout secondary text-center" id="questionForm" method="post">
        <h1 class="text-center">Contact Us</h1>
        <p class="text-center">We’d Love to Hear From You, Get In Touch With Us!</p>
        <p class="text-center"><i class="fas fa-envelope-open inline-icon" aria-hidden="true"></i><a href="mailto:info@ketch.partners?Subject=Website%20Inquiry" target="_top"><span>info@ketch.partners</span></a></p>
        <p class="text-center"><i class="fas fa-phone inline-icon" aria-hidden="true"></i><a href="tel:1-404-965-3571">1-404-965-3571</a></p>

        <div class="floated-label-wrapper">
          <label for="full-name">Company</label>
          <input type="text" id="questionCompany" name="Company input" placeholder="Company">
        </div>
        <div class="floated-label-wrapper">
          <label for="full-name">Full name</label>
          <input type="text" id="questionName" name="full name input" placeholder="Full name">
        </div>
        <div class="floated-label-wrapper">
          <label for="email">Email</label>
          <input type="email" id="questionEmail" name="email input" placeholder="Email" required>
        </div>
          <div class="floated-label-wrapper">
          <label for="Phone">Phone</label>
          <input type="tel" id="questionPhone" name="phone input" placeholder="Phone">
        </div>
        <div class="floated-label-wrapper">
          <label for="question">Question</label>
          <input type="text" id="questionMessage" name="question input" placeholder="Question?">
        </div>
        <input class="button expanded" id="questionSubmit" type="submit" value="Submit">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="callout success hide" id="questionSuccess">
          Thank You For Your Inquiry, We Will Get Back To You Shortly.
        </div>
      </form>

  </div>