<div class="card newsletter-subscribe">
 <div class="card-section">
  <div class="form-registration-img">
    <img src="{{root}}assets/img/ketch-mag-300x300-01.png" alt="Ketch Partners Newsletter" />
  </div>
</div>
  <div class="card-section">
    <h4 class="text-center">Free Case Study</h4>
    <h4 class="text-center">SAP HANA S4 Implementations</h4>
      <form class="form-registration-group" action="">
    <input class="form-registration-input"  type="email" placeholder="Your email">
    <input class="form-registration-submit-button" type="submit" value="Download">
  </form>
  </div>
  </div>

</div>

