
<div class="sticky" data-sticky data-anchor="newsletter-sticky">
  <aside class="newsletter-subscribe" id="aside-newletter">
 <div class="card-section" id="subscribe-image">
  <div class="form-registration-img">
    <img src="{{root}}assets/img/ketch-mag-300x300-01.png" alt="Ketch Partners Newsletter" />
  </div>
</div>
  <div class="card-section" id="subscribe-text">
    <p class="text-center">Free Case Study</p>
    <p class="text-center">SAP HANA S4 Implementations</p>
    <form class="form-registration-group" action="">
    <input class="form-registration-input"  type="email" placeholder="Your email" required pattern="email">
    <input class="form-registration-submit-button" type="submit" value="Download">
  </form>
  </div>
  </aside>
<!--  <aside class="newsletter-subscribe" id="aside-categories">
    <div class="card-section">
      <h5>Tags</h5>
       <div class="callout no-border">
          <div class="button-group tags">
            <a class="button secondary" href="{{root}}about.html">CFIN</a>
            <a class="button primary" href="{{root}}industries.html">EPPM</a>
            <a class="button secondary" href="{{root}}services.html">HANA S4</a>
          </div>
       </div>

    </div>
  </aside>-->
</div>


