<header class="marketing-site-features">
  <div class="marketing-site-features-header-block">
  <h2 class="marketing-site-features-headline" style="font-size:3rem;">Services</h2>
  <div class="callout" id="services-header">

{{#markdown}}
<h3 class="text-center">Specializing in SAP Application and Database Products</h3>
We have deep domain expertise in managing large scale **SAP HANA** and IT programs. Our experience makes us Ketch an excellent choice to manage and lead large programs. We **collaborate** with you from pre-planning the **scope and budget** to leading the program. Our team will provide complete **confidence and visibility**. Our clients will tell you we become a trusted member of your team. We partner with you and deliver complete transparency. This ensures lower risk, reduced scope creep, and adherence to budget and timeline.

- Deep industry experience in operations that facilitates **SAP HANA** project success
- Proprietary project methods and tools that increase visibility and awareness. Our approach reduces risk by driving deliverables to every aspect of the program from organizational change to technical and functional unit testing.
- Strong **global template project** experience across every continent leveraging common processes and benefiting from economic **consolidations**: system and business support; shared services; common learning. 
- Collaborative approach to client relationships reduces costs: uncommon agility to work with client teams; use **waterfal** and **agile methods** simultaneously. 
- Deep tenure from our team averaging over 10 years in the business.
{{/markdown}}

   </div>
  <nav class="row marketing-site-body" id="services-nav">
 
    <div class="small-12 medium-3 columns">
      <p><a href="#services-projects"><img src="{{root}}assets/img/gantt-chart-pen-200x200-01.jpg" alt="Project Gantt Chart" /></a></p>
      <h4 class="marketing-site-features-title"><a href="#services-projects">SAP Implementation Projects</a></h4>
    </div>
    <div class="small-12 medium-3 columns">
      <p><a href="#sevices-advisory"><img src="{{root}}assets/img/industry-services-200x200-01.jpg" alt="Advisory Services" /></a></p>
      <h4 class="marketing-site-features-title"><a href="#services-advisory">Strategy and Advisory Services</a></h4>
    </div>
    <div class="small-12 medium-3 columns">
      <p><a href="#services-development"><img src="{{root}}assets/img/code-200x200.jpg" alt="Application Code" /></a></p>
      <h4 class="marketing-site-features-title"><a href="#services-development">SAP Custom Development</a></h4>
    </div>
    <div class="small-12 medium-3 columns">
      <p><a href="#services-support"><img src="{{root}}assets/img/industry-tech-200x200-01.jpg" alt="Technology" /></a></p>
      <h4 class="marketing-site-features-title"><a href="#services-support">SAP Application Support</a></h4>
   </div>

  </nav>

  </div>
</header>


