<div class="marketing-site-features">
  <div class="marketing-site-features-header-block">
  <h2 class="marketing-site-features-headline">Services</h2>
  <p class="marketing-site-features-subheadline subheader">Specializing in SAP Application and Database Products</p>
  <div class="row marketing-site-body">
 
    <div class="small-12 medium-3 columns">
      <p><a href="services-projects"><img src="{{root}}assets/img/gantt-chart-pen-200x200-01.jpg" alt="Project Gantt Chart" /></a></p>
      <h4 class="marketing-site-features-title"><a href="services-projects">SAP Implementation Projects</a></h4>
    </div>
    <div class="small-12 medium-3 columns">
      <p><a href="#sevices-advisory"><img src="https://via.placeholder.com/200x200" alt="" /></a></p>
      <h4 class="marketing-site-features-title"><a href="services-advisory">Strategy and Advisory Services</a></h4>
    </div>
    <div class="small-12 medium-3 columns">
      <p><a href="#services-development"><img src="https://via.placeholder.com/200x200" alt="" /></a></p>
      <h4 class="marketing-site-features-title"><a href="#services-development">SAP Custom Development</a></h4>
    </div>
    <div class="small-12 medium-3 columns">
      <p><a href="#services-support"><img src="https://via.placeholder.com/200x200" alt="SAP Application Support" /></a></p>
      <h4 class="marketing-site-features-title"><a href="#services-support">SAP Application Support</a></h4>
   </div>
    </div>
  </div>
</div>

