<div class="hero-section-main">
	<div class="grid-x grid-margin-x">
	  <div class="cell medium-6">
	    <div class="responsive-embed">
	      
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ObVFwJMWrMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	    </div>
	  </div>

	    <div class="cell medium-6">
	    <p><img src="{{root}}assets/img/logo-top-bar.png" width="70%" alt="logo" /></p>
	    <p></p>
	  </div>

	</div>
</div>