
<!-- with icon font (fontawesome) -->
<div class="blogpost-footer-actions">
  <div class="blogpost-footer-actions-left">
    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"> 4</i></a>
    <a href="#"><i class="fa fa-comment-o" aria-hidden="true"> 2</i></a>
  </div>
  <div class="blogpost-footer-actions-right">
    <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  </div>
</div>

<div class="blogpost-footer-author-section">





<div class="blogpost-footer-author-section">

  <div>
    <a href="#" class="blogpost-footer-author">
      <img class="avatar" src="http://fillmurray.com/200/200" alt="" />
      <div>
        <p class="author">Bill Murray</p>
        <p class="bio">An experienced, dedicated leader with a passion for mentoring, leadership, and excellence.
Deep business and information technology understanding with a focus on SAP integration and Open Source solutions to deliver the optimal user experience. Laser focused on getting the job done right through process optimization and proven problem-solving skills.</p>
        <p class="bio">As CEO of Ketch Partners, I believe in helping businesses operate to their fullest capacity. Through strategy, design, and delivery of SAP solutions, we help our clients achieve superior business performance. Through a diverse set of industries, we have the experience and expertise needed to help propel your company into success.</p>
      </div>
    </a>
  </div>
  <a href="#" class="hollow button success">Follow</a>

</div>

