
<!-- with icon font (fontawesome) -->
<div class="blogpost-footer-actions">
  <div class="blogpost-footer-actions-left">

  </div>
  <div class="blogpost-footer-actions-right">
    <a href="mailto:info@ketch.partners?Subject=Website%20Inquiry" target="_top"><i class="fas fa-envelope" aria-hidden="true"></i></a>
    <a href="https://twitter.com/Chris_R_York" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/christopherryork/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
    <a href="https://github.com/KetchCyork" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
  </div>
</div>




<div class="blogpost-footer-author-section">

  <div>
    <div class="blogpost-footer-author">
      <img class="hide-for-small-only avatar" src="https://www.gravatar.com/avatar/c57f5201b9adb275292bb2bcb16bfaaf.jpg " alt="Chris York" />
      <div>
        <p class="author">Chris York</p>
        <p class="bio">An experienced, dedicated leader with a passion for mentoring, leadership, and excellence.
Deep business and information technology understanding with a focus on SAP integration and Open Source solutions to deliver the optimal user experience. Laser focused on getting the job done right through process optimization and proven problem-solving skills.</p>
        <p class="bio">As CEO of Ketch Partners, I believe in helping businesses operate to their fullest capacity. Through strategy, design, and delivery of SAP solutions, we help our clients achieve superior business performance. Through a diverse set of industries, we have the experience and expertise needed to help propel your company into success.</p>
      </div>
    </div>
  </div>


</div>

