<div class="blockquote-container">
  <div class="callout no-border secondary">
    <h4 class="blockquote-title">John Ward III</h4>
    <p class="blockquote-title">Tyco Valves and Controls</p>
    <blockquote>
      <p class="blockquote-content">Ketch Partners were the Global Program Managers for our SAP implementation at Tyco International. They personally led the implementation at one of our largest manufacturing plants. Ketch demonstrated great leadership that helped us be successful at implementing such a massive change at our plant. Their experience helped us sidestep many pitfalls that would have cost us thousands of extra dollars. Their strength is leading projects and managing an aggressive timeline. Their approach is regimented but still flexible to get everyone’s buy-in and support. I highly recommend Ketch Partners for their leadership skills and abilities. They were a pleasure to work with!.</p>
    </blockquote>
  </div>
</div>
