
<div class="grid-container section-container">
	<div class="orbit clean-hero-slider" role="region" aria-label="Ketch Partners" data-orbit>
  		<div class="orbit-wrapper">

    		<ul class="orbit-container">

      			<li class="orbit-slide">
			        <figure class="orbit-figure">
			          <img class="orbit-image" src="{{root}}assets/img/testimonials-header-800x350.jpg" alt="Ketch Partners Testimonials">
			          <figcaption class="orbit-caption">
			            <h1>Testimonials</h1>
                        <p>Building Trust One Client At A Time</p>
			          </figcaption>
			        </figure>
      			</li>

    		</ul>
  		</div>

	</div>
</div>