<div class="blockquote-container">
  <div class="callout no-border">
    <h4 class="blockquote-title">Suketu Mehta</h4>
    <p class="blockquote-title">Best Buy</p>
    <blockquote>
      <p class="blockquote-content">Ketch Partners is an extremely well organized, detail oriented, hardworking and driven team.  They won all round appreciation from both the project team and the client for their work. Their excellent understanding of SAP and retail provided very practical and valuable insights in all aspects of the project.</p>
    </blockquote>
  </div>
</div>