<div class="blockquote-container">
  <div class="callout no-border">
    <h4 class="blockquote-title">Deepak Mandrekar</h4>
    <p class="blockquote-title">iii Technologies, Inc.</p>
    <blockquote>
      <p class="blockquote-content">Ketch Partners served as the Program Management of the SAP implementation where we worked together. I worked with them as part of the program leadership overseeing the SAP implementation. Ketch has some of the finest SAP program managers I have come across amongst the several SAP projects I have been a part of. During the time I worked together with Ketch they have been instrumental in providing inputs and suggestions on SAP program deliverables, processes, program improvements and all other aspects of the program. I always like to lead SAP programs together with peers that are honest, upfront, hardworking, dedicated and self respected. Ketch has been exceptional and excelled in all these categories. Again, Ketch has some of the best SAP managers I have ever worked with and would recommend them to any SAP program as genuine and able leaders.</p>
    </blockquote>
  </div>
</div>