
<div class="blockquote-container">
  <div class="callout no-border">
    <h4 class="blockquote-title">Jim Krautbauer</h4>
    <p class="blockquote-title">Wipro Technologies</p>
    <blockquote>
      <p class="blockquote-content">Ketch is a very experienced and knowledgeable SAP resource that I’ve had the pleasure of working with for the past year on our Best Buy International SAP BI implementations. Their thorough understanding of Retail and SAP were an immense benefit to me personally and to Best Buy. In addition to supporting me at the Program level, Ketch provided strong leadership in key project areas such as business solution design, testing and production cut over. Their blend of business and technical knowledge enabled them to be very effective.</p>
    </blockquote>
  </div>
</div>