<div class="blockquote-container">
  <div class="callout no-border primary">
    <h4 class="blockquote-title">Tracey Arnott, PMP</h4>
    <p class="blockquote-title">Client Partner at SAP Industries - Retail</p>
    <blockquote>
      <p class="blockquote-content">>I worked with Ketch Partners in the SAP Retail Group. I found Ketch to be consummate professionals. They have a vast knowledge of the retail industry and a tremendous working knowledge of the SAP suite of products. Ketch is able to speak to all levels within an organization and quickly earns the trust of their clients and peers. They are detail oriented individuals who consistently take the time to assist and mentor their colleagues. Ketch was a pleasure to work with and I would highly recommend them.</p>
    </blockquote>
  </div>
</div>