<div class="blockquote-container">
  <div class="callout no-border primary">
    <h4 class="blockquote-title">Alec Felder</h4>
    <p class="blockquote-title">Wipro Technologies</p>
    <blockquote>
      <p class="blockquote-content">Ketch Partners are the commensurate SAP IS-Retail professionals; they are the model against which all others should be judged. Having worked with IS-Retail from both the user and consulting sides, their knowledge of retail in general and SAP IS-Retail specifically is extensive and in depth. They have the unique ability to get to the essence of a detailed issue, develop an integrated solution and then explain that solution to the non-technical users in a language they can understand. They successfully brought the ASAP methodology to the chaos of a very complex BI Retail Reporting project we worked on together for over a year. It is without hesitation that I would recommend Ketch for any SAP project and would gladly join their team. You can’t get anyone better than Ketch.</p>
    </blockquote>
  </div>
</div>
