<div class="blockquote-container">
  <div class="callout no-border">
    <h4 class="blockquote-title">Michael Braine</h4>
    <p class="blockquote-title">SVP, CIO Retail and Optical Services at Luxottica</p>
    <blockquote>
      <p class="blockquote-content">I worked together with Ketch Partners CEO (Chris York) in different roles during my time at SAP. Chris is a true IT Service professional combining tremendous leadership capabilities with outstanding Retail Industry and SAP solution knowledge. He has great customer focus, active listening skills, effective communication to C-level audiences, and keep everybody focused on the decision making process.</p>
    </blockquote>
  </div>
</div>