<div class="blockquote-container">
  <div class="callout no-border primary">
    <h4 class="blockquote-title">Tracey Arnott, PMP</h4>
    <p class="blockquote-title">Client Partner at SAP Industries - Retail</p>
    <blockquote>
      <p class="blockquote-content">I worked with Ketch Partners CEO Chris York in the SAP Retail Group. I found Chris to be a consummate professional. He has a vast knowledge of the retail industry and a tremendous working knowledge of the SAP suite of products. Chris is able to speak to all levels within an organization and quickly earns the trust of their clients and peers. He is a detail oriented individuals who consistently take the time to assist and mentor their colleagues. Chris was a pleasure to work with and I would highly recommend him.</p>
    </blockquote>
  </div>
</div>
