        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/gantt-chart-pen-hero3.jpg" alt="Ketch Project Management">
          <figcaption class="orbit-caption">
            <h5>Malesuada Parturient</h5>
            <p>Fusce dapibus, tellus ac cursus commodo, sit amet risus. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam sit amet non magna.</p>
            <a href="#" class="button yellow">Sollicitudin</a>
          </figcaption>
        </figure>