        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/creative-business-concept-hero1.jpg" alt="Ketch Partners Creative Business Concept">
          <figcaption class="orbit-caption">
            <h5>Ketch Partners</h5>
            <p>Ketch Partners delivers solution to business enterprise client that has run for many years on SAP ECC. Solution leveraged SAP HANA S4 to increase revenue and decrease costs. View the case study to see how Ketch did this.</p>
            <a href="{{root}}articles/sap-hana-s4-client-case-study.html" class="button yellow">View Article</a>
          </figcaption>
        </figure>