        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/digital-transformation-hero2.jpg" alt="SAP Digital Transformation">
          <figcaption class="orbit-caption">
            <h5>Ketch Partners</h5>
            <p>Strategy. Transformation. Trust.</p>
            <p>Decades of business strategy across industries.  Over 30 years of business and digital transformation.  Trust Ketch as your partner to transform your business.</p>
            <a href="#latest-news" class="button yellow">View Latest Insights</a>
          </figcaption>
        </figure>
