        <figure class="orbit-figure">
          <img class="orbit-image" src="{{root}}assets/img/digital-transformation-hero2.jpg" alt="SAP Digital Transformation">
          <figcaption class="orbit-caption">
            <h5>Freedom to Execute Greenfield Implementations that are Bridging Multiple ERPs</h5>
            <p>Ketch Partners implemented a greenfield SAP HANA S4 project along with SAP Central Finance Alongside Existing SAP ECC Logistical System.</p>
            <a href="{{root}}articles/sap-greenfield-case-study.html" class="button yellow">View Article</a>
          </figcaption>
        </figure>