{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{root}}assets/img/favicons/favicon.ico">
    
    <title>Ketch Partners</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>
  <nav>
   

      <div class="title-bar" data-responsive-toggle="top-bar-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="top-bar-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="top-bar-menu">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text"><img src="{{root}}assets/img/logo-top-bar.png" alt="logo"></li>

          </ul>
        </div>
        <div class="top-bar-right primary">
          <ul class="menu">
          <li><a href="{{root}}about.html"><button class="button">About</button></a></li>
          <li><a href="{{root}}about.html"><button class="button">Services</button></a></li>
          <li><a href="{{root}}about.html"><button class="button">Industries</button></a></li>
          <li><a href="{{root}}about.html"><button class="button">Testimonials</button></a></li>
          <li><a href="{{root}}about.html"><button class="button">Contact Us</button></a></li>
          </ul>
        </div>
      </div>
  </nav>    
  

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}


<footer class="ecommerce-footer">

  <div class="ecommerce-footer-bottom-bar row">
    <div class="small-12 medium-5 columns">
      <ul class="bottom-links">
        <li><a href="{{root}}privacy.html">Privacy Policy</a></li>
        <li><a href="{{root}}terms.html">Terms &amp; Conditions</a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 columns ecommerce-footer-logomark">
      <a href="{{root}}index.html"><img src="{{root}}assets/img/logo-top-bar.png"/></a>
    </div>
    <div class="small-12 medium-5 columns">
      <div class="bottom-copyright">
        <span>©2018 Ketch Partners. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
