{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{root}}assets/img/favicons/favicon.ico">
    
    <title>Ketch Partners</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
<body>
  <nav>
   

      <div class="title-bar" data-responsive-toggle="top-bar-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="top-bar-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="top-bar-menu">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text"><img src="{{root}}assets/img/logo-top-bar.png" alt="logo"></li>

          </ul>
        </div>
        <div class="top-bar-right primary">
          <ul class="menu">
          <li><a href="{{root}}about.html"><button class="button">About</button></a></li>
          <li><a href="{{root}}services.html"><button class="button">Services</button></a></li>
          <li><a href="{{root}}industries.html"><button class="button">Industries</button></a></li>
          <li><a href="{{root}}testimonials.html"><button class="button">Testimonials</button></a></li>
          <li><a href="{{root}}contact.html"><button class="button">Contact Us</button></a></li>
          </ul>
        </div>
      </div>
  </nav>    
  

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">Ketch Partners</h4>
      <p>Full Service SAP Project Consulting Services</p>
      <ul class="menu marketing-site-footer-menu-social simple">
        <li><a href="#"><i class="fab fa-youtube-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fab fa-github-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
       <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fas fa-map-marker" aria-hidden="true"></i>
        <p>1075 Peachtree Street NE Suite 3650<br>Atlanta, GA 30309</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fas fa-phone" aria-hidden="true"></i>
        <p>1 (404) 996-0245</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fas fa-envelope-open" aria-hidden="true"></i>
        <p><a href="mailto:info@ketch.partners?Subject=Website%20Inquiry" target="_top">info@ketch.partners</a></p>
      </div>
    </div>
    <div class="medium-4 columns">
    
      <div class="row small-up-2">
        <div class="column column-block">
          <img src="{{root}}assets/img/logo-footer.png" alt="Ketch Logo" />
        </div>
        <div class="column column-block">
          <img src="{{root}}assets/img/ketchimages/Partner-SAP-footer.png" alt="SAP Partner Logo" />
        </div>
    
      </div>
    </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">

      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="{{root}}index.html">Home</a></li>
          <li><a href="{{root}}privacy.html">Privacy</a></li>
          <li><a href="{{root}}terms.html">Terms of Use</a></li>
          <li><a href="{{root}}index.html">&copy; 2018 Ketch Partners</a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
